/*
LISTE DES FICHIERS (ETRE LE PLUS PRECIS POSSIBLE) UTILISANT CETTE FEUILLE DE STYLE :
-
-
-
-
-
-
-
...

*/

/* ==> -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- IMPORT ==> */
    /* IMPORTANT : Les @import doivent etre en debut de page */

    /* ==> ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- IMPORT CONDITIONES ==> */
        /* EXEMPLE : @import style.css;*/

    /* <== ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- <== IMPORT CONDITIONES */

    /* ==> ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ IMPORT NON CONDITIONES ==> */
        /* EXEMPLE : @import url(style.css) screen and (max-width:600px);*/

    /* <== ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ <== IMPORT NON CONDITIONES */


/* <== -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- <== IMPORT */


/* ==> ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- VARIABLES ==> */

:root{
    --couleurPrincipale_fonce:#05837d;
    --couleurPrincipale_moyen:#007c7d;/* */
    --couleurPrincipale_clair:#43beae;

    --couleurSecondaire_fonce:#7d4e92;
    --couleurSecondaire_moyen:#a987ba;
    --couleurSecondaire_clair:#d5c0e1;

    --couleurTertiaire_fonce:#8d6456;
    --couleurTertiaire_moyen:#ba9c8e;
    --couleurTertiaire_clair:#e7d4c6;

    --couleurInfo_fonce:#484BA3;
    --couleurInfo_moyen:#7272c7;
    --couleurInfo_clair:#9b99ea;
    
    --couleursucces_fonce:#1c823a;
    --couleursucces_moyen:#4fb567;
    --couleursucces_clair:#82e893;

    --couleurWarning_fonce:#ffa00a;
    --couleurWarning_moyen:#ffca6b;
    --couleurWarning_clair:#fff3cc;
    
    --couleurDanger_fonce:#e51c23;
    --couleurDanger_moyen:#ef797e;
    --couleurDanger_clair:#f8d6d9;
    
    /* ici rajouter des couleurs si besoin  ==> */

    /* <== ici rajouter des couleurs si besoin */

    --policePrincipale:"Roboto", sans-serif;
    --policesecondaire:"Roboto", sans-serif;
    --policeTertiaire:"Roboto", sans-serif;

}

/* <== ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- <== VARIABLES */

/* TOUTES LES INSTRUCTIONS SERONT CATEGORISES SELON LE MODELE QUI SUIT : 
    ...{
        /*Z-INDEX*/ 
        /*POSITION / AFFCHAGE*/ 
        /*TAILLE*/ 
        /*MARGIN / PADDING*/ 
        /*ARRIERE PLAN*/ 
        /*BORDURE*/ 
        /*POLICE / CONTENU*/ 
        /*ANIMATIONS / EFFETS*/ 
        /*AUTRES*/ 
    /*}*/

/* ==> ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- INSTRUCTIONS GENERALES ==> */

    /* ==> Les regles de cette parties sont appliqués sur toute la page */

    *{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGIN / PADDING */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }

    html{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGIN / PADDING */
        /* ARRIERE PLAN */
            background-color: #007c7d;
        /* BORDURE */
        /* POLICE / CONTENU */
            font-family: "MS", sans-serif
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }

    body{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        /* TAILLE */
        /* MARGIN / PADDING */
            margin: .5rem;
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }

/* <== ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- <== INSTRUCTIONS GENERALES */

/*  ==> ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  ==> INSTRUCTIONS MULTIPLES ZONES*/

    /* ==> Les regles de cette parties sont appliqués sur différentes (mais pas toutes) parties de la page */

/* <== ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- <== INSTRUCTIONS MULTIPLES ZONES */

/* *********************************************************************************************************************************************************************************************************************** */
/* *********************************************************************************************************************************************************************************************************************** */

/* PARTIE 00 ==> -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------  ==> INSTRUCTIONS HORS FLUX */

    /* Les instructions de cette partie ne sont à appliquer que pour les balise qui ne sont ni dans le <header>, ni dans le <main>, ni dans le <footer> */

    .P0_modalPourApplications{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            position: absolute; 
            left: 50%; 
            top:50%;
        /* TAILLE */
            width: 80vw;
            height: 90vh;
        /* MARGIN / PADDING */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
            transform: translateX(-50%) translateY(-50%);
        /* AUTRES */
    } 

    .P0_modalPourApplications:not(.ouvert){
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            opacity: 0;
        /* TAILLE */
        /* MARGIN / PADDING */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
            cursor: pointer;
    }

    .P0_modalPourApplications.ouvert{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            opacity: 1;
        /* TAILLE */
        /* MARGIN / PADDING */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
            cursor: auto;
    }

    .P0_modalPourApplication {

        box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf, inset -2px -2px #808080,inset 2px 2px #ffffff;
        background: #c0c0c0;
        padding: 3px;
    }

    .P0_modalPourApplication[role=tabpanel] {
        position: relative;
        z-index: 2;
    }

    .P0-1_EnTeteModal1,
    li[role=tab] {
        -webkit-font-smoothing: none;
        font-size: 11px;
    }

    .P0-1_EnTeteModal1 {
        background: linear-gradient(
            90deg,
            #000080,
            #1084d0
        );
        padding: 3px 2px 3px 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;height: 30px;
    }

    .P0-1_EnTeteModal1.inactive {
        background: linear-gradient(90deg,#808080,#b5b5b5);
    }

    .P0-1-1_enTeteFenetre {
        font-weight: bold;
        color: white;
        letter-spacing: 0;
        margin-right: 24px;
    }

    #P0-2_contenuModal1{
    width: calc(100% - 6px);
    height: calc(100% - 41px);
    }

/* <== PARTIE 00 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ <== INSTRUCTIONS HORS FLUX */

/* PARTIE 01 ==> --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- EN-TETE ==> */

    /* Les instructions de cette partie ne sont à appliquer que pour les balise qui sont dans le <header> uniquement */

    header{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
        /* MARGIN / PADDING */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }

/* <== PARTIE 01 --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- <== EN-TETE */

/* Partie 02 ==> ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- CORP DE PAGE ==> */

    /* Les instructions de cette partie ne sont à appliquer que pour les balise qui sont dans le <main> uniquement */

    main{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: flex;
            flex-direction: row;
            column-gap: 3rem;
        /* TAILLE */
            height: 96.2vh;
        /* MARGIN / PADDING */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }

    .P1-1_IconesEtNomApplications{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        /* TAILLE */
        /* MARGIN / PADDING */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
        
    }

    .P1-1-1_Application{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        /* TAILLE */
        /* MARGIN / PADDING */
        /* ARRIERE PLAN */
            background-color: transparent;
        /* BORDURE */
            border: 0;
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
        
    }

    .P1-1-1-1_IconeApplication {
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
        /* TAILLE */
            height: 4rem;
        /* MARGIN / PADDING */
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }

/* <== Partie 02 ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- <== CORP DE PAGE */

/* Partie 03 ==> ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- PIED DE PAGE ==> */

    /* Les instructions de cette partie ne sont à appliquer que pour les balise qui sont dans le <footer> uniquement */

    footer{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: flex;
            align-items: center;
        /* TAILLE */height: 3vh;
        /* MARGIN / PADDING */
            margin: 0 -.5rem -4.5rem -.5rem;
        /* ARRIERE PLAN */
            background-color: #bfb8c0;
        /* BORDURE */
            border: 4px outset #ECE5EB;
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }

    .P3-1_elementBarreDeTache.menuDemarer{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: flex;
            align-items: center;
            justify-content: space-between;
        /* TAILLE */
            width: 4.48%; 
            height: 83%;
            min-width: 6.5rem;
        /* MARGIN / PADDING */
            padding: 0 4px ;
        /* ARRIERE PLAN */
            background-color: #bfb8c0;
        /* BORDURE */
            border: 2px outset #000;
            border-radius: 0;
        /* POLICE / CONTENU */
            font-weight: bold;
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }

    .P3-1_elementBarreDeTache.barreDeTaches{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: flex;
            align-items: center;
            justify-content: space-between;
        /* TAILLE */
            width: 92.29%;
            height: 70%;
        /* MARGIN / PADDING */
            padding-left: 5px;
        /* ARRIERE PLAN */
        /* BORDURE */
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }

    .P3-1_elementBarreDeTache.notifEtHeure{
        /* Z-INDEX */
        /* POSITION / AFFCHAGE */
            display: flex;
            align-items: center;
            justify-content: space-between;
        /* TAILLE */
            width: 3.23%;
            height: 80%;
        /* MARGIN / PADDING */
            padding: 0 4px;
        /* ARRIERE PLAN */
        /* BORDURE */
            border: 3px inset #ECE5EB;
        /* POLICE / CONTENU */
        /* ANIMATIONS / EFFETS */
        /* AUTRES */
    }

/* <== Partie 03 ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- <== PIED DE PAGE */

/* *********************************************************************************************************************************************************************************************************************** */
/* *********************************************************************************************************************************************************************************************************************** */

/* ==> ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- ANIMATIONS ==> */

    /* Les instructions de cette partie regrouppent toutes les animations quelque soit la partie où elles seront appliqué */

/* <== ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- <== ANIMATIONS */

/* ==> -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- MEDIA QUERRY ==> */

    /* Les instructions de cette partie servent à gerer la partie responsive */

    @media screen and (max-width: 576px){/* Ecran de smartphone (portrait) */
            
    }

    @media screen and (min-width: 576px){/* Ecran de smartphone (paysage) */
        
    }

    @media screen and (min-width: 768px){/* Ecran de tablette (portrait) */
        
    }

    @media screen and (min-width: 992px){/* Ecran de tablette (paysage) */
        
    }

    @media screen and (min-width: 1200px){/* Ecran d'ordinateur portable */
        
    }

    @media screen and (min-width: 1400px){/* Ecran d'ordinateur "classique" */
        
    }

    @media screen and (min-width: 2600px){/* grand écran d'ordinateur */
        
    }

    @media screen and (min-width: 3600px){/* Ecran de TV */
        
    }

    /* ==> ********** AUTRES MEDIAS QUERRYS ********** ==> */



    /* <== ********** AUTRES MEDIAS QUERRYS ********** <== */

/* <== -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- <== MEDIA QUERRY */
